<!DOCTYPE html>
<html lang="en">
<head>
  <title>ReynaWeek5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Week 5</a>
      </div>
    </div>
  </div>

  <div class="container">
  <% if notice %>
    <div class="alert alert-success"><strong><center><%= notice %></center></strong></div>
  </div>
  <% end %>

<%= yield %>

<div class="container">
<footer>
  <div class="row">
    <div class="col-md-6 text-right">
      <p>Site created by Reyna DeLoge</p>
      <a href="https://linkedin.com/in/reynadeloge">
        <%= image_tag("linked_in.jpg", class: "img-footer") %>
      </a>
      <a href="https://github.com/reydelo">
        <%= image_tag("github.png", class: "img-footer") %>
      </a>
      <a href="https://twitter.com/rey_deloge">
        <%= image_tag("twitter.png", class: "img-footer") %>
      </a>
      <a href="https://students.gschool.it/cohorts/9/students/221">
        <%= image_tag("galvanize.png", class: "img-footer") %>
      </a>
    </div>
  </div>
</footer>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>





</body>
</html>
